// -------------------
// media queries
// -------------------
@mixin respond-to-breakpoint($breakpoint) {
  @if (type-of($breakpoint) == string) {
    @each $key,
      $screen
        in (
          phone: $phone,
          tab-port: $tab-port,
          tab-land: $tab-land,
          big-desktop: $big-desktop
        )
    {
      @if ($breakpoint == $key) {
        @media only screen and (max-width: px-to-em($screen)) {
          @content;
        }
      }
    }
  } @else if(type-of($breakpoint) == number) {
    @media only screen and (max-width: px-to-em($breakpoint)) {
      @content;
    }
  }
}
