// -------------------
// colors
// -------------------
$primary-color: #f8655b;
$section-bg-color: #fafafa;
$secondary-section-bg-color: #2c0f31;
$misc-box-color: rgb(230, 230, 230);
$muted: #9b9c9e;
$muted-light: #d8d8d8;
// -------------------
// typography
// -------------------
$default-font-size: 1.65rem;
$primary-font: source-han-sans-simplified-c, sans-serif;
$secondary-font: "Lato", sans-serif;
// -------------------
// screen widths in px
// -------------------
$big-desktop: 2000;
$tab-land: 1200;
$tab-port: 950;
$phone: 600;
