@import "../../index.scss";

.header {
  // background-color: #2e364a;
  // border: 2px solid red;
  height: 130vh;
  position: relative;
  margin-bottom: -2rem;
  width: 100%;
  z-index: 0;

  &::after {
    content: url("../../images/svg/bg-wave.svg");
    display: inline-block;
    position: absolute;
    bottom: 1.2rem;
    width: 100%;
  }

  // video {
  //   display: none;
  //   height: 100%;
  //   opacity: 0.1;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  // }

  &__logo {
    height: 25rem;
    position: absolute;
    top: 20rem;
    right: 30rem;
    transform: scale(1.2);
    width: 100%;
  }
}
