.navbar {
  margin: 0 auto;
  padding: 0 10rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  ul {
    text-align: center;

    li {
      display: inline-block;
      padding: 2rem 3rem;

      a {
        color: rgba(255, 255, 255, 0.4);
        font-size: 1.5rem;

        &:hover {
          color: rgba(255, 255, 255, 1);
          transition: color 0.4s ease-in-out;
        }
      }
    }
  }

  &--off-right {
    backdrop-filter: blur(1rem);
    background-color: rgba(#121212, 0.5);
    border-bottom: 1px solid rgba(#181b25, 1);

    &::before {
      content: url("../../images/svg/logo.svg");
      padding-left: 2rem;
      position: fixed;
      top: 1rem;
    }

    ul {
      text-align: right;

      li {
        padding: 2rem 2rem;
      }
    }
  }
}
